<div class="header">
    <div class="left-side" (click)="$event.stopPropagation();">

        <div class="bars-div" (click)="toggleSidebar( !sidebar );">
            <i class="fas fa-bars"></i>
        </div>

        <form [formGroup]="searchForm" (ngSubmit)="search();">
            <div class="input-search">
                <app-input 
                    type="text"
                    placeholder="Busqueda ..."
                    [parentForm]="searchForm"
                    fieldName="search"
                    formControlName="search"
                ></app-input>
            </div>

            <button
                type="submit" [disabled]="searchForm.invalid" 
                [ngClass]="searchForm.invalid ? 'btn-search btn-disabled' : 'btn-search'"
            ><i class="fas fa-search"></i></button>
        </form>

    </div>

    <div class="right-side">
        <div class="admin-info" *ngIf="admin" (click)="$event.stopPropagation();">
            <i class="far fa-bell"></i>
            <i class="far fa-comment-alt"></i>
            <i class="fas fa-expand"></i>
            <div class="admin-image" (click)="toggleSettings( !settings );">
                <img src="{{ url + '/image/admin/' + admin.avatar }}" alt="avatar.png">
                <div class="dot-online"></div>
            </div>
            

            <div class="admin-overlay" #adminCard>
                <ul>
                    <div 
                        class="header-card"
                    >
                        <img src="{{ url + '/image/admin/' + admin.avatar }}" alt="avatar.png">
                        <div>
                            <h3>{{ admin.name }}</h3>
                            <h3>{{ admin.surname }}</h3>
                            <h4
                                [ngClass]="{ 
                                    'challenger-bg': admin.admin === 'challenger',
                                    'master-bg': admin.admin === 'master',
                                    'diamond-bg': admin.admin === 'diamond',
                                    'platinum-bg': admin.admin === 'platinum'
                                }"
                            >{{ admin.admin }}</h4>
                        </div>
                    </div>
                    <li><i class="fas fa-user-cog"></i>Detalle de cuenta</li>
                    <li (click)="logout();"><i class="fas fa-sign-out-alt"></i>Cerrar sesión</li>
                </ul>
            </div>
        </div>
    </div>
</div>
