@import '../../../scss/colors.scss';

.header {
    width: 100%;
    height: 65px;
    background-color: $white;
    border-bottom: 1px solid $border-light;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .left-side {
        height: 65px;
        max-width: 400px;
        padding: 0 30px 0 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .bars-div {
            width: 40px;
            height: 40px;
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            i {
                color: $font-dark;
                font-size: 20px;
            }
        }

        form {
            display: flex;
            flex-wrap: wrap;

            .input-search {
                width: 200px;
                height: 30px;
                display: flex;
                align-items: center;
                overflow: hidden;
            }

            button {
                margin-left: 25px;
                border: 0;
                background-color: $action;
                border-radius: 2px;
                padding: 0 15px;
                cursor: pointer;
                transition: $transition;

                i {
                    color: $font-white;
                }

                &:hover {
                    background-color: $dark;
                    box-shadow: $shadow;
                }
            }
        }
    }

    .right-side {
        height: 100%;
        max-width: 330px;
        margin-left: auto;
        padding: 0 20px 0 30px;

        .admin-info {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            position: relative;

            i {
                font-size: 20px;
                color: $font-gray;
                transition: $transition;
                margin-right: 25px;
                margin-top: -3px;
                cursor: pointer;

                &:hover {
                    color: $font-dark;
                }
            }
            
            button {
                padding: 5px 15px;
                border: 0;
                border-radius: 3px;
                color: $font-white;
                text-transform: uppercase;
                font-size: 11px;
                letter-spacing: 1px;
                margin: 0 10px 0 0;
                cursor: pointer;
                transition: $transition;

                i {
                    color: $font-white;
                    font-size: 11px;
                }

                &:hover {
                    box-shadow: $shadow;
                }
            }

            .admin-image {
                width: 33px;
                height: 33px;
                border-radius: 3px;
                margin-top: 1px;
                position: relative;
                transition: $transition;
                cursor: pointer;

                img {
                    width: 33px;
                    height: 33px;
                    object-fit: cover;
                    border-radius: 3px;
                    transition: $transition;
                    margin-top: -2px;
                }

                .dot-online {
                    position: absolute;
                    z-index: 5;
                    width: 10px;
                    height: 10px;
                    background-color: $green;
                    border-radius: 50%;
                    bottom: 0px;
                    right: -4px;
                    box-shadow: $box-shadow;
                }
            }

            .admin-overlay {
                position: absolute;
                width: 350px;
                background-color: white;
                top: 100%;
                margin-left: 500%;
                border: 1px solid $border-light;
                border-radius: 2px;

                ul {
                    height: 100%;
                    list-style: none;

                    .header-card {
                        padding: 20px 25px;
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        border-bottom: 1px solid $border-light;

                        img {
                            width: 100px;
                            height: 100px;
                            object-fit: cover;
                            border-radius: 3px;
                            border: 1px solid $border-light;
                        }

                        div {
                            flex: 1 0 30%;
                            height: 100px;
                            padding-left: 20px;
                            position: relative;

                            h3 {
                                color: $font-dark;
                                font-size: 14px;
                                margin: 0;
                                width: 100%;
                                line-height: 20px;
                                font-weight: lighter;
                                letter-spacing: 1px;
                            }

                            h4 {
                                position: absolute;
                                bottom: 0;
                                width: 110px;
                                color: $font-white;
                                text-transform: uppercase;
                                padding: 10px 0;
                                text-align: center;
                                font-size: 10px;
                                letter-spacing: 1px;
                                border-radius: 2px;
                            }
                        }

                    }
                    
                    li {
                        padding: 20px 30px;
                        font-size: 14px;
                        color: $font-dark;
                        letter-spacing: 1px;
                        cursor: pointer;
                        transition: $transition;

                        i {
                            color: $font-dark;
                            font-size: 15px;
                            font-weight: bold;
                        }

                        &:hover {
                            background-color: $dark;
                            color: $font-white;
                            box-shadow: $shadow;

                            i {
                                color: $font-white;
                            }
                        }
                    }
                }
            }
        }
    }
}

.status {
    font-weight: 400!important;
}
