<div class="auth-form">
    <div class="sign-in">
        <img src="../../../assets/flag.png" alt="flag.png">
        <h3>Enviar codigo de acceso.</h3>
        <form [formGroup]="codeForm" (ngSubmit)="sendCode();">
            <app-input 
                type="text"
                placeholder="Codigo: c0dE3"
                [parentForm]="codeForm"
                fieldName="code"
                formControlName="code"
            ></app-input>
    
            <button 
                type="submit" [disabled]="codeForm.invalid" 
                [ngClass]="codeForm.invalid ? 'btn btn-disabled' : 'btn'"
            >Enviar codigo</button>
            <p>¿No te ha lledo el codigo? <span routerLink="/auth/login">Vuelve a iniciar sesión</span></p>
        </form>
    </div>
</div>


