<div class="auth-form">
    <div class="sign-in">
        <h2>BIJU</h2>
        <img src="../../../assets/old-car.svg" alt="old-car.svg">
        <h3>Asegurate de generar tu nueva contraseña.</h3>
        <form [formGroup]="passwordForm" (ngSubmit)="sendNewPassword();">
            <app-input 
                type="password"
                placeholder="Password: ******"
                fieldName="password"
                [parentForm]="passwordForm"
                formControlName="password"
                (input)="verifyPasswordRepeat('password','passwordRepeat');"
            ></app-input>
    
            <app-input 
                type="password"
                placeholder="Confirmar password: ******"
                fieldName="passwordRepeat"
                [parentForm]="passwordForm"
                formControlName="passwordRepeat"
                (input)="verifyPasswordRepeat('password','passwordRepeat');"
            ></app-input>
    
            <button 
                type="submit" [disabled]="passwordForm.invalid" 
                [ngClass]="passwordForm.invalid ? 'btn btn-disabled' : 'btn'"
            >Iniciar Sesión</button>
            <p>Recordaste tu contraseña?<span routerLink="/auth/iniciar-sesion">Ir al inicio de sesión</span></p>
        </form>
    </div>
</div>