@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap%27');
// font-family: 'Quicksand', sans-serif;
@import './app/scss/colors.scss';

*, body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

.toast-success{
    background-color: $main !important;
}

.toast-info{
    background-color: $danger !important;
}
  
.toast-message{
    letter-spacing: 1px !important;
    font-size: 13px !important;
    line-height: 19px !important;
}

.ngx-toastr {
    width: 350px !important;
}

.btn {
     padding: 15px;
     border: 0;
     outline: none;
     width: 100%;
     margin: 10px auto;
     background-color: $main;
     color: $white;
     letter-spacing: 1px;
     font-size: 16px;
     cursor: pointer;
     transition: $transition;
     border-radius: 2px;
     -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
     -ms-border-radius: 2px;
     -o-border-radius: 2px;

     &:hover {
        box-shadow: $shadow;
        background-color: $main-light;
    }
}

.btn-search {
    margin-left: 25px;
    border: 0;
    background-color: $action;
    border-radius: 2px;
    padding: 7px 15px;
    cursor: pointer;
    transition: $transition;
    color: $font-white;

    i {
        color: $font-white;
    }

    &:hover {
        background-color: $dark;
        box-shadow: $shadow;
    }
}

.btn-disabled {
    background-color: $disabled !important;
}

/** Role colors **/
.challenger-bg {
    background-color: $dark !important;
}

.master-bg {

}

.diamond-bg {

}

.platinum-bg {

}

.active-item {
    color: $green !important;
}

.inactive-item {
    color: $red !important;
}

.page-title {
    padding: 5px 5px 20px;
    font-size: 23px;
    letter-spacing: .5px;
    color: $font-dark;
}